<h1 class="text-center mt-3">Stupid Coaching</h1>

<div class="question p-3 mb-5">
  <p><%= @question %></p>
  <p><strong>- You</strong></p>
</div>

<div class="answer p-3 mb-5">
  <p><%= @answer %></p>
  <p><strong>- Coach</strong></p>
</div>
<%= link_to "Ask a new question", ask_path %>
